<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>BNDL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>UIAppFonts</key>
        <array>
          <string>MaterialIcons.ttf</string>
          <string>MaterialCommunityIcons.ttf</string>
          		<string>Playfair Display.ttf</string>
		<string>Playfair Display_bold_italic.ttf</string>
		<string>Playfair Display_black_italic.ttf</string>
		<string>SF Pro Text.ttf</string>
		<string>SF Pro Text_semibold.ttf</string>
		<string>DM Sans.ttf</string>
		<string>DM Sans_regular.ttf</string>
		<string>DM Sans_medium.ttf</string>
		<string>DM Sans_bold.ttf</string>
		<string>Outfit.ttf</string>
		<string>Outfit_medium.ttf</string>
		<string>Outfit_bold.ttf</string>
		<string>Inter.ttf</string>
		<string>Inter_medium.ttf</string>
		<string>Mulish.ttf</string>
		<string>Mulish_regular.ttf</string>
		<string>Poppins.ttf</string>
		<string>Poppins_medium.ttf</string>
		<string>Lato.ttf</string>
		<string>Lato_regular.ttf</string>
		<string>Lato_extrabold.ttf</string>
		<string>Roboto.ttf</string>
		<string>Roboto_regular.ttf</string>
		<string>Manrope.ttf</string>
		<string>Manrope_medium.ttf</string>
		<string>Manrope_semibold.ttf</string>
		<string>Archivo.ttf</string>
		<string>Archivo_medium.ttf</string>
        </array>
    </dict>
    </plist>
    